# Ignore node_modules (dependencies)
node_modules/

# Ignore built files and dist folder
dist/
build/

# Ignore log files
*.log

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore development-related files
*.cache
*.log
*.tmp
*.pid

# Ignore macOS specific files
.DS_Store

# Ignore package-lock.json for projects using npm
package-lock.json

# Ignore yarn.lock for projects using Yarn
yarn.lock
